<!doctype html>
<html class="no-js" lang="en-us" ng-app="llApp" ng-controller="AppCtrl as app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>A Lifter's Log</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" href="bootstrap.css"> -->

        <link rel="stylesheet" href="/css/app.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <!-- <script src="/js/lib.min.js"></script> -->
        <script src="/js/app.js"></script>
    </head>
    <body class="container">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div>
            <div class="header-buttons">
                <a class="btn btn-secondary btn-sm"
                    ng-hide="app.showEditForm"
                    ng-click="app.showEditForm = true">
                    edit
                </a>
                <a class="btn btn-secondary btn-sm">
                    print
                </a>
            </div>
            <h2 class="display-2">
                Starting PRs
            </h2>
        </div>

        <form name="recordForm"
            ng-show="app.showEditForm">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6" ng-repeat="record in app.records">

                            <h4>{{record.label}}</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <label for="">Reps</label>
                                        <input class="form-control"
                                            id=""
                                            type="number"
                                            ng-model="record.reps"
                                            required />
                                    </fieldset>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <label for="">Weight</label>
                                        <input class="form-control"
                                            id=""
                                            type="number"
                                            ng-model="record.weight"
                                            required />
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-primary"
                        ng-disabled="recordForm.$invalid"
                        ng-click="app.showEditForm = false">
                        <i class="fa fa-check"></i>
                        Done
                    </a>

                </div>
            </div>
        </form>

        <div ng-hide="app.showEditForm">
            <ul>
                <li ng-repeat="record in app.records">
                    <strong>{{record.label}}:</strong>
                    <span>{{record.reps}} x {{record.weight}}</span>
                    <i ng-show="record.reps > 1">
                        (1RM x {{record.oneRepMax() | round5}})
                    </i>
                </li>
                <li>90% of your 1rm is used as the base for calculations.</li>
            </ul>
        </div>

        <hr class="m-y-1" />

        <div class="m-b-1">
            <div class="header-buttons">
                <label>cycle:</label>
                <div class="btn-group">
                    <a ng-repeat="cycle in [0,1,2,3,4,5]"
                        ng-click="app.currentCycle = cycle"
                        class="btn btn-secondary"
                        ng-class="{active: (cycle == app.currentCycle)}">
                        {{ cycle+1 }}
                    </a>
                </div>
            </div>

            <h2 class="display-2">Lifting Routine</h2>
        </div>

        <div class="m-b-2" ng-repeat="week in app.program">

            <table class="table table-bordered table-program">
                <thead>
                    <tr>
                        <th colspan="99"
                            class="table-header">
                            Week {{ $index + 1 }}
                        </th>
                    </tr>
                    <tr>
                        <th class="hidden-xs">&nbsp;</th>
                        <th ng-repeat="record in app.records">
                            {{record.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="set in week"
                        ng-class="{ 'active' : $last}">
                        <th class="hidden-xs row-label"
                            rowspan="3"
                            ng-if="$first || $index === 3">
                            {{ $first ? 'Warm Up' : '5 / 3 / 1' }}
                        </th>
                        <td ng-repeat="record in app.records">
                            <span class="calculated-weight">
                                {{ app.calcWeight(record.oneRepMax(), set.percentage, app.currentCycle, record.increment) }}
                            </span>
                            <span class="separator--weight-and-reps">x</span>
                            <span class="reps">{{set.reps}}</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="hidden-xs"
                            rowspan="2">
                            Accessory
                        </th>
                        <td ng-repeat="record in app.records">
                            5 x 10 @{{ app.calcWeight(record.oneRepMax(), .50, app.currentCycle, record.increment) }}
                        </td>
                    </tr>
                    <tr>
                        <!-- th -->
                        <td>Chin-ups - 5 x 10</td>
                        <td>Hanging Leg Raise - 5 x 10</td>
                        <td>Dumbbell Row - 5 x 10</td>
                        <td>Leg Curl - 5 x 10</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Google Analytics -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>
</html>